# snippets for HAML 
snippet conf
- content_for :${1:javascript} do
	${2}
endsnippet

snippet cj
- content_for :javascript do
	${1}
endsnippet

snippet cc
- content_for :stylesheet do
	${1}
endsnippet

snippet jstag
= javascript_include_tag "${1}"
endsnippet

snippet csstag
= stylesheet_link_tag "${1}"
endsnippet
