#
#  es snippets
#

snippet import "import"
import ${1} from '${2:$1}';
endsnippet

snippet exp "export default"
export default ${1}
endsnippet

snippet assign "Object.assign"
import assign from 'object-assign';
endsnippet
